.content-meta {
  margin-top: 0;
  color: var(--tertiary);

  &[show-comma="true"] {
    > span {
      margin-right: 8px;

      &:first-child {
        &::after {
          content: ",";
        }
      }
    }
  }
}
